name: Run all the tests

on: [push]

jobs:
        build:
                runs-on: ubuntu-latest

                steps:
                        - uses: actions/checkout@v2
                        - name: Setup JDK 1.8
                          uses: actions/setup-java@v1
                          with:
                                  java-version: 1.8
                        - name: Build with Maven
                          run: mvn -B clean verify -contract-test --file pom.xml

